body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    background-color: #FFB199;
    font-size: 20px;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 100%);
    place-items: center;
}
.solaranja>a{
    color: #D86D5E;
    font-size: 50px;
    text-decoration: none;
}
.pesquisar::before{
    background-image:url(imagens/lupa.png);
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 3vh;
    position: relative;
    left: 5px;
}
.pesquisar{
    background-color: #EB744F;
    width: 170px;
    height: 30px;   
}
.pesquisar>a{
    color: white;
    text-decoration: none;
    position: relative;
    top: -8px;
    left: 20px; 
}
.menu{
    grid-column-start: 3;
    grid-column-end: 6;
}
.menu>ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
header>div>ul>li{
    padding: 0 50px;
    position: relative;
    right: 80px;
}
header>div>ul>li>a{
    text-decoration: none;
    color: white;
}
main{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 60px);
}
main>div{
    background-color: #FFEAE4;
    grid-column: 6 / 10;
    grid-row: 2 / 14;
}
.cadastro{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
}
.cadastro>h3{
    grid-column: 2/7;
    color: #FF3B00;
    font-weight: 400;
    font-family: "Inria Serif", serif;
    font-size: 32px;
}
.usuario{
    grid-column: 2/8;
    grid-row: 2/3;
    font-size: 24px;
    font-weight: 300;
}
.email{
    grid-column: 2/8;
    grid-row: 3/4;
    font-size: 24px;
    font-weight: 300;
}
.senha{
    grid-column: 2/8;
    grid-row: 4/5;
    font-size: 24px;
    font-weight: 300;
}
.confirmarsenha{
    grid-column: 2/8;
    grid-row: 5/6;
    font-size: 24px;
    font-weight: 300;
}
.form1{
    width: 100%;
    height: 5vh;
    border: 1px solid #FF3B00;
}
.registrar-se{
    grid-column: 4/6;
    grid-row: 7/8;
    background-color: #FF3B00;
    color: white;
    height: 3vh;
    width: 100%;
    text-align: center;
}
